@import "compass/css3";

@import "compass/css3/transform";
@import url(https://fonts.googleapis.com/css?family=Bangers);


body {
  cursor: url(../images/bug2.png), auto;
  text-align: center;
  font-family: 'Bangers', cursive;
  background-color: black;
}

body h1 {
  font-size: 30px;
  text-transform: uppercase;
}
.title {
  text-align: center;
  font-weight: normal;
  color: #ED6565;
  text-transform: uppercase;
  font-size: 8em;
  white-space: nowrap;
  font-size: 10vw;
  z-index: 1000;
  font-family: 'Bangers', cursive;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
  @include skew(0, -6.7deg, false);
  @include transition-property(font-size);
  @include transition-duration(0.5s);
}
body button {
  font-size: 20px;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}
.game-stats {
  color: white;
  display: none;
  opacity: 0;
  font-size: 30px;
	margin: 3rem auto 0 auto;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

/* img:hover {
  filter: sepia(); 
  transform: rotate(90deg); 
  transition: 2s;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate (360deg);
} */
.popUp {
  font-size: 50px;
  display: none;
  border: solid black;
  width: 20%;
  margin: 0 auto;
  padding: 2%;
  background: #ED6565;
  position: relative;
  z-index: 9999;
  top: -26rem;
}

#ocultar {
  display: none;
}
#display {
  display: flex;
  opacity: 1;
}
#justin {
  position: absolute;
  width: 40%;
  left: 30%;
}
.bug {
  position: relative;
  width: 5%;
  transform-origin: 50% 50%;
  animation-name: putar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
   animation-timing-function: linear;
}
@keyframes putar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}